/*@charset "gb2312";*/
/**
 * 网站地址: http://www.qietu.com
 * ----------------------------------------------------------------------------
 * $codex 1. id和class命名采用该版块的英文单词或组合命名，并第一个单词小写，第二个单词首个字母大写，如:thinkCss（最新产品/think+Css)
 * $codex 2. CSS样式表各区块用注释说明
 * $codex 3. 尽量使用英文命名原则
 * $codex 4. 尽量不加中杠和下划线
 * $codex 5. 尽量不缩写，除非一看就明白的单词
 * $Author: psd2html
 * $mailto: <psd2html@qq.com>
 * $hack :ie 6 _  \ ie7 *+ \  ie6,ie7 *  \  ie7,firefox !important ie9, \9
*/
/**
 +------------------------------------------------------------------------------
 * 网站样式重写
 +------------------------------------------------------------------------------
 * @comefrom  互联网
 * @subpackage  RBAC
 +------------------------------------------------------------------------------
 */
html{-webkit-text-size-adjust:none; /*解决chrome浏览器下字体不能小于12px*/}
body{ color:#000000; font-family:"Microsoft YaHei", sans-serif}
* {}
a{outline:none; text-decoration:none;} a:hover{ text-decoration:underline;}
html{zoom:1;}html *{outline:0;zoom:1;} html button::-moz-focus-inner{border-color:transparent!important;}
body{overflow-x: hidden;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;} table{/*border-collapse:collapse;border-spacing:0;*/} fieldset,a img{border:0;} address,caption,cite,code,dfn,em,th,var{font-style:normal;font-weight:normal;} li{list-style:none;} caption,th{text-align:left;} h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;} q:before,q:after{content:'';}
input[type="submit"], input[type="reset"], input[type="button"], button { -webkit-appearance: none; /*???????????I????????*/} em,i{ font-style:normal;}




/**
 +------------------------------------------------------------------------------
 * Public Class
 +------------------------------------------------------------------------------
 * @subpackage  RBAC
 +------------------------------------------------------------------------------
 */
.clearfix:after {content:"."; display:block; height:0; clear:both; visibility:hidden; }.clearfix {display:block;}.clear{ clear:both;}/* ??????*/
.colwrapper { overflow:hidden; zoom:1 /*for ie*/; margin:5px auto; }/* ???????? */
.strong{ font-weight: bold;} .left{ float: left;} .right{ float: right;} .center{ margin:0 auto; text-align:center;}
.show{ display:block; visibility:visible;}
.hide{ display: none; }
/*visibility:hidden;*/
.block{ display:block;} .inline{ display:inline;}
.transparent{filter:alpha(opacity=50); -moz-opacity:0.5;/** Firefox 3.5?????????opacity??????????????????irefox3????????? ***/ -khtml-opacity: 0.5; opacity: 0.5; } .break{ word-wrap:break-word;overflow:hidden; /*word-break:break-all;*/}

.tal{ text-align:left} .tar{ text-align:right;}

/*文字两侧对齐*/
.justify {
    text-align:justify;
    /*text-justify:distribute-all-lines;/!*ie6-8*!/*/
    text-align-last:justify;/* ie9*/
    -moz-text-align-last:justify;/*ff*/
    -webkit-text-align-last:justify;/*chrome 20+*/
}

.toe{
    /*超出省略号*/
    word-break:keep-all;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}
@media screen and (-webkit-min-device-pixel-ratio:0){/* chrome*/
    .justify:after{
        content:".";
        display: inline-block;
        width:100%;
        overflow:hidden;
        height:0;
    }
}

/* 兼容IE6的定位属性fixed，固定不动样式 */
.fixed{
    position:fixed;
    /*clip:rect(0 100% 100% 0);*/
    _position:absolute;

    /* 底部 */
    bottom:0;
    left:0;
    _top:expression(document.documentElement.scrollTop+document.documentElement.clientHeight-this.clientHeight);
    /*_left:expression(document.documentElement.scrollLeft + document.documentElement.clientWidth - offsetWidth);*/

    /* 左侧 */
    /*left:0px;*/
    /*_top:expression(document.documentElement.scrollTop+document.documentElement.clientHeight-this.clientHeight);*/
    /*_left:expression(document.documentElement.scrollLeft + document.documentElement.clientWidth - offsetWidth);*/
}
/* 解决固定层在IE6下闪的问题 */
*html{
    background-image:url(http://about:blank);
    background-attachment:fixed;
}


/*png图片ie6下透明滤镜实现写法*/
.pngimg{filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/x.png');}
/*enabled=true, sizingMethod=scale,*/

/**
 +------------------------------------------------------------------------------
 * FCK 兼容解决方案
 +------------------------------------------------------------------------------
 * @subpackage  RBAC
 +------------------------------------------------------------------------------
 */
em{ font-style:italic !important;} strike{ text-decoration:line-through !important;} strong{ font-weight:bold !important;} u{ text-decoration:underline !important;}

/**
 +------------------------------------------------------------------------------
 * 表单样式
 +------------------------------------------------------------------------------
 * @subpackage  RBAC
 +------------------------------------------------------------------------------
 */

/**
 +------------------------------------------------------------------------------
 * 网站整体颜色总汇
 +------------------------------------------------------------------------------
 * @codex  颜色:使用颜色的名称或者16进制代码,如
 * @subpackage  RBAC
 +------------------------------------------------------------------------------
 */
.ff8600,.ff86aa a{ color:#ff8600;}

/**
 +------------------------------------------------------------------------------
 * 网站整字体大小
 +------------------------------------------------------------------------------
 * @codex   字体大小,直接使用"font+字体大小"作为名称,如
 * @package  ORG
 * @subpackage  RBAC
 +------------------------------------------------------------------------------
 */
.font14px{ font-size:14px;}
.font9pt{ font-size:9pt;}
/*自定义字体*/
/* @font-face {  font-family: danley;  src: url('../font/danley.ttf');  }  .danley {  font-family: danley; } */


/**
 +------------------------------------------------------------------------------
 * 网站整布局命名规范
 +------------------------------------------------------------------------------
 * @codex   id和class命名采用该版块的英文单词或组合命名 如:newRelease
 * @package  ORG
 * @subpackage  RBAC
 +------------------------------------------------------------------------------
 */

.css3{
    /*transition: all 0.3s ease-in-out 0s;*/

    -webkit-transform:translate3d(0, -20px, 0);
    -ms-transform:translate3d(0, -20px, 0);
    transform:translate3d(0, -20px, 0);

    -webkit-transition-property:opacity, -webkit-transform;
    transition-property:opacity, transform;
    -webkit-transition-duration:1000ms;
    transition-duration:1000ms;
    -webkit-transition-timing-function:cubic-bezier(0.25, 0.46, 0.33, 0.98);
    transition-timing-function:cubic-bezier(0.25, 0.46, 0.33, 0.98);

    -webkit-transition-delay:800ms;
    transition-delay:800ms
}
.css3.animated{
    -webkit-transform:translate3d(0, 0, 0);
    -ms-transform:translate3d(0, 0, 0);
    transform:translate3d(0, 0, 0);
}

@media screen and (max-width: 650px) {}
@media screen and (max-width: 480px) {}



/*selectbank page*/
/*.withcard{*/
/*background-color: #b2b2b2;*/
/*color: #fff;*/
/*}*/
.nocard{
    background-color: #b2b2b2;
    color: #fff;
}
.bank_info{
    width: 100%;
    height: 180px;
    line-height: 180px;
    background-color: #fff;
}
.bank_info p{
    width: 90%;
    text-align: left;
    color: #363d4d;
    font-size: 2.3rem;
}
.transIcon{
    width: 16px;
    height: 28px;
    background: url("../imgs/ticket-tip.png") no-repeat -41px 0;
    margin-left: 35px;
    margin-top: 75px;
}
.tip_left{
    width: 90%;
    text-align: left;
    font-size: 1.7rem;
    color: #b1b2b2;
    margin-top: 20px;
}
.tip_left span{
    color: #703e31;
}
.bankicon{
    width: 115px;
    height: 115px;
    position: relative;
    top: 33px;
}
.bank_name{
    font-size: 2.3rem;
    position: relative;
    top: -30px;
    left: 15px;
    color: #363d4d;
}
.bank_no{
    display: block;
    font-size: 1.7rem;
    position: relative;
    top: -165px;
    left: 138px;
    color: #b6b6b6;
}

/*storylayer page*/
.center{ margin:0 auto; text-align:center;}
.story_layout{
    width: 100%;
    margin-top: auto;
    overflow: hidden;
    background-color: #000;
    text-align: center;
    background: rgba(0,0,0,.4);
    font-size: 14px;
}
.story_layer{
    position: fixed;
    top: 8%;
    width: 100%;
    text-align: center;
    z-index: 101;
}
.story_mask{
    background: rgba(0,0,0,.4);
    z-index: 100;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
}
.s_window{
    width: 550px;
    height: 868px;
    background-color: #fff;
    position: relative;
    text-align: center;
}
.s_window img{
    border: none;
    background-color: #ebebeb;
}
.s_window h2{
    font-size: 2em;
    font-weight: bold;
    color: #fff;
    width: 500px;
    margin-top: -207px;
    text-align: left;
}
.s_content{
    width: 490px;
    text-align: left;
    margin-top: 140px;
}
.s_content h3{
    color: #363d4d;
    font-size: 2em;
    font-weight: bold;
}
.s_content p{
    margin-top: 12px;
    font-size: 1.8em;
    color: #999;
}
.s_btn_close{
    position: absolute;
    bottom: 30px;
    left: 30px;
    width: 490px;
    color: #703e31;
    background-color: #ffd460;
    font-size: 2em;
    height: 85px;
    line-height: 85px;
    border-radius: .2em;
    text-align: center;
}