/*@charset "gb2312";*/
/**
 * 网站地址: http://www.qietu.com
 * ----------------------------------------------------------------------------
 * $codex 1. id和class命名采用该版块的英文单词或组合命名，并第一个单词小写，第二个单词首个字母大写，如:thinkCss（最新产品/think+Css)
 * $codex 2. CSS样式表各区块用注释说明
 * $codex 3. 尽量使用英文命名原则
 * $codex 4. 尽量不加中杠和下划线
 * $codex 5. 尽量不缩写，除非一看就明白的单词
 * $Author: psd2html
 * $mailto: <psd2html@qq.com>
 * $hack :ie 6 _  \ ie7 *+ \  ie6,ie7 *  \  ie7,firefox !important ie9, \9
*/
/**
 +------------------------------------------------------------------------------
 * 网站样式重写
 +------------------------------------------------------------------------------
 * @comefrom  互联网
 * @subpackage  RBAC
 +------------------------------------------------------------------------------
 */
html{-webkit-text-size-adjust:none; /*解决chrome浏览器下字体不能小于12px*/}
body{ color:#000000; font-family:"Microsoft YaHei", sans-serif}
* {}
a{outline:none; text-decoration:none;} a:hover{ text-decoration:underline;}
html{zoom:1;}html *{outline:0;zoom:1;} html button::-moz-focus-inner{border-color:transparent!important;}
body{overflow-x: hidden;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;} table{/*border-collapse:collapse;border-spacing:0;*/} fieldset,a img{border:0;} address,caption,cite,code,dfn,em,th,var{font-style:normal;font-weight:normal;} li{list-style:none;} caption,th{text-align:left;} h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;} q:before,q:after{content:'';}
input[type="submit"], input[type="reset"], input[type="button"], button { -webkit-appearance: none; /*???????????I????????*/} em,i{ font-style:normal;}




/**
 +------------------------------------------------------------------------------
 * Public Class
 +------------------------------------------------------------------------------
 * @subpackage  RBAC
 +------------------------------------------------------------------------------
 */
.clearfix:after {content:"."; display:block; height:0; clear:both; visibility:hidden; }.clearfix {display:block;}.clear{ clear:both;}/* ??????*/
.colwrapper { overflow:hidden; zoom:1 /*for ie*/; margin:5px auto; }/* ???????? */
.strong{ font-weight: bold;} .left{ float: left;} .right{ float: right;} .center{ margin:0 auto; text-align:center;}
.show{ display:block; visibility:visible;}
.hide{ display: none; }
/*visibility:hidden;*/
.block{ display:block;} .inline{ display:inline;}
.transparent{filter:alpha(opacity=50); -moz-opacity:0.5;/** Firefox 3.5?????????opacity??????????????????irefox3????????? ***/ -khtml-opacity: 0.5; opacity: 0.5; } .break{ word-wrap:break-word;overflow:hidden; /*word-break:break-all;*/}

.tal{ text-align:left} .tar{ text-align:right;}

/*文字两侧对齐*/
.justify {
	text-align:justify;
	/*text-justify:distribute-all-lines;/!*ie6-8*!/*/
	text-align-last:justify;/* ie9*/
	-moz-text-align-last:justify;/*ff*/
	-webkit-text-align-last:justify;/*chrome 20+*/
}

.toe{
	/*超出省略号*/
	word-break:keep-all;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}
@media screen and (-webkit-min-device-pixel-ratio:0){/* chrome*/
	.justify:after{
		content:".";
		display: inline-block;
		width:100%;
		overflow:hidden;
		height:0;
	}
}

/* 兼容IE6的定位属性fixed，固定不动样式 */
.fixed{
	position:fixed;
	/*clip:rect(0 100% 100% 0);*/
	_position:absolute;

	/* 底部 */
	bottom:0;
	left:0;
	_top:expression(document.documentElement.scrollTop+document.documentElement.clientHeight-this.clientHeight);
	/*_left:expression(document.documentElement.scrollLeft + document.documentElement.clientWidth - offsetWidth);*/

	/* 左侧 */
	/*left:0px;*/
	/*_top:expression(document.documentElement.scrollTop+document.documentElement.clientHeight-this.clientHeight);*/
	/*_left:expression(document.documentElement.scrollLeft + document.documentElement.clientWidth - offsetWidth);*/
}
/* 解决固定层在IE6下闪的问题 */
*html{
	background-image:url(http://about:blank);
	background-attachment:fixed;
}


/*png图片ie6下透明滤镜实现写法*/
.pngimg{filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/x.png');}
/*enabled=true, sizingMethod=scale,*/

/**
 +------------------------------------------------------------------------------
 * FCK 兼容解决方案
 +------------------------------------------------------------------------------
 * @subpackage  RBAC
 +------------------------------------------------------------------------------
 */
em{ font-style:italic !important;} strike{ text-decoration:line-through !important;} strong{ font-weight:bold !important;} u{ text-decoration:underline !important;}

/**
 +------------------------------------------------------------------------------
 * 表单样式
 +------------------------------------------------------------------------------
 * @subpackage  RBAC
 +------------------------------------------------------------------------------
 */

/**
 +------------------------------------------------------------------------------
 * 网站整体颜色总汇
 +------------------------------------------------------------------------------
 * @codex  颜色:使用颜色的名称或者16进制代码,如
 * @subpackage  RBAC
 +------------------------------------------------------------------------------
 */
.ff8600,.ff86aa a{ color:#ff8600;}

/**
 +------------------------------------------------------------------------------
 * 网站整字体大小
 +------------------------------------------------------------------------------
 * @codex   字体大小,直接使用"font+字体大小"作为名称,如
 * @package  ORG
 * @subpackage  RBAC
 +------------------------------------------------------------------------------
 */
.font14px{ font-size:14px;}
.font9pt{ font-size:9pt;}
/*自定义字体*/
/* @font-face {  font-family: danley;  src: url('../font/danley.ttf');  }  .danley {  font-family: danley; } */


/**
 +------------------------------------------------------------------------------
 * 网站整布局命名规范
 +------------------------------------------------------------------------------
 * @codex   id和class命名采用该版块的英文单词或组合命名 如:newRelease
 * @package  ORG
 * @subpackage  RBAC
 +------------------------------------------------------------------------------
 */

.css3{
	/*transition: all 0.3s ease-in-out 0s;*/

	-webkit-transform:translate3d(0, -20px, 0);
	-ms-transform:translate3d(0, -20px, 0);
	transform:translate3d(0, -20px, 0);

	-webkit-transition-property:opacity, -webkit-transform;
	transition-property:opacity, transform;
	-webkit-transition-duration:1000ms;
	transition-duration:1000ms;
	-webkit-transition-timing-function:cubic-bezier(0.25, 0.46, 0.33, 0.98);
	transition-timing-function:cubic-bezier(0.25, 0.46, 0.33, 0.98);

	-webkit-transition-delay:800ms;
	transition-delay:800ms
}
.css3.animated{
	-webkit-transform:translate3d(0, 0, 0);
	-ms-transform:translate3d(0, 0, 0);
	transform:translate3d(0, 0, 0);
}

@media screen and (max-width: 650px) {}
@media screen and (max-width: 480px) {}

.rotate
{
	transform:rotate(7deg);
	-ms-transform:rotate(7deg); 	/* IE 9 */
	-moz-transform:rotate(7deg); 	/* Firefox */
	-webkit-transform:rotate(7deg); /* Safari ?? Chrome */
	-o-transform:rotate(7deg); 	/* Opera */
}

.rotate180
{
	transition:all .6s ease-in-out;
	transform:rotate(180deg);
}
.rotate180T
{
	transition:all .6s ease-in-out;
	transform:rotate(0deg);
}


/*0actpage*/

.zero_act_layout{
	width: 100%;
	margin-top: auto;
	overflow: hidden;
	background-color: #ff5975;
	position: relative;
	font-size: 12px;
}

.zero_top,.zero_down{
	text-align: center;
	width: 100%;
}
.top_logo{
	background: url("../imgs/0bg1.png") no-repeat 0 0;
	width: 696px;
	height: 527px;
}
.top_pro{
	background: url("../imgs/0bg1.png") no-repeat 0 -527px;
	width: 584px;
	height: 305px;
	margin-top: -205px;
}
.top_text{
	color: #f0f2f1;
	text-align: center;
	width: 100%;
	margin-top: 15px;
}
.top_text h3{
	font-size: 2rem;
}
.top_text p{
	font-size: 1.5rem;
	margin-top: 10px;
}
.top_button{
	margin-top: 50px;
	width: 559px;
	height: 88px;
	background-color: #21b1e0;
	font-size: 2rem;
	line-height: 88px;
	border-radius: .5rem;
	color: #fff;
	margin-bottom: 60px;
}
.down_bg{
	background: url("../imgs/0bg1.png") no-repeat 0 -832px;
	width: 650px;
	height: 587px;
	text-align: left;
}
.down_bg p{
	font-size: 2.1rem;
	margin-left: 83px;
	letter-spacing: 3px;
	position: relative;

}
.down_bg p:first-child{
	padding-top: 30px;
}
.down_bg p:last-child{
	margin-top: 85px;
}
.down_bg span{
	margin-left: 35px;
	font-size: 1.5rem;
	position: relative;
	top: -3px;
}
.zero_down{
	color: #ebebeb;
}
.zero_claim{
	margin-bottom: 40px;
	margin-top: 40px;
	font-size: 1.2rem;
	line-height: 25px;
}
.mask{
	background: rgba(0,0,0,.8);
	z-index: 100;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	width: 100%;
}
.zero_input{
	position: fixed;
	top: 245px;
	width: 100%;
	z-index: 101;
}
.input_window{
	width: 80%;
	height: 605px;
	background-color: #ff5975;
	border-radius: .8em;
	position: relative;
	overflow: hidden;
}
.btn_z_close{
	width: 184px;
	height: 184px;
	border-radius: 10em;
	background-color: #f2d61d;
	top: -92px;
	right: -92px;
	position: absolute;
}
.btn_z_close_l{
	width: 188px;
	height: 188px;
	border-radius: 10em;
	top: -94px;
	right: -94px;
	position: absolute;
	border: 4px dashed #f2d61d;
}
.btn_z_close p{
	position: relative;
	color: #21b1e0;
	font-size: 2.5rem;
	top: 110px;
	left: -38px;
}
.zact-form{
	margin-top: 60px;
	color: #fff;
}
.zact-form h3{
	font-size: 2rem;
}
.zact-form ul{
	overflow: hidden;
	margin-top: 50px;
	width: 90%;
	border-radius: .8em;
	background-color: #f2f2f2;
}
.zact-form li {
	height: 100px;
	background: #fff;
}
.zact-form li:first-child{
	margin-bottom: 1px;
}
.zact-form li:last-child{
	margin-top: 1px;
}

.zact-form li .text{
	height: 100px;
	width: 100%;
	border: none;
	margin-left: 40px;
	color: #b3b3b3;
	float: left;
	display: inline;
	text-align:left;
	font-size: 2em;
}
.zact-form li .button{
	background-color: #fff;
	height: 30px;
	width: 200px;
	float: left;
	display: inline;
	border: none;
	cursor: pointer;
	color: #ff5975;
	font-size: 2em;
	border-left: #ff5975 solid 2px;
	margin-top: 36px;
}

.zact-form .submit{
	margin-top: 25px;
	height: 100px;
	text-align: center;
	line-height: 100px;
	color: #fff;
	background-color: #ff8b9f;
	font-size: 2rem;
	width: 90%;
	border: none;
	border-radius: .8rem;
}