/*@charset "gb2312";*/
/**
 * 网站地址: http://www.qietu.com
 * ----------------------------------------------------------------------------

 html{-webkit-text-size-adjust:none; /*解决chrome浏览器下字体不能小于12px*/}
 body{ color:#000000; font-family:Verdana, Arial, Helvetica, sans-serif;}
 * {}
a{outline:none; text-decoration:none;} a:hover{ text-decoration:underline;}
html{zoom:1;}html *{outline:0;zoom:1;} html button::-moz-focus-inner{border-color:transparent!important;} 
body{overflow-x: hidden; font-size:12px;} body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;} table{/*border-collapse:collapse;border-spacing:0;*/} fieldset,a img{border:0;} address,caption,cite,code,dfn,em,th,var{font-style:normal;font-weight:normal;} li{list-style:none;} caption,th{text-align:left;} h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;} q:before,q:after{content:'';}
input[type="submit"], input[type="reset"], input[type="button"], button { -webkit-appearance: none; /*去掉苹果的默认UI来渲染按钮*/} em,i{ font-style:normal;}



/**
 +------------------------------------------------------------------------------
 * Public Class
 +------------------------------------------------------------------------------
 * @subpackage  RBAC
 +------------------------------------------------------------------------------
 */
.clearfix:after {content:"."; display:block; height:0; clear:both; visibility:hidden; }.clearfix {display:block;}.clear{ clear:both;}/* 清除浮动*/
.colwrapper { overflow:hidden; zoom:1 /*for ie*/; margin:5px auto; }/* 高度自适应 */ 
.strong{ font-weight: bold;} .left{ float: left;} .right{ float: right;} .center{ margin:0 auto; text-align:center;}
.show{ display:block; visibility:visible;}.hide{ display: none; visibility:hidden;}
.block{ display:block;} .inline{ display:inline;}
.transparent{filter:alpha(opacity=50); -moz-opacity:0.5;/** Firefox 3.5即将原生支持opacity属性，所以本条属性只在Firefox3以下版本有效 ***/ -khtml-opacity: 0.5; opacity: 0.5; } .break{ word-wrap:break-word;overflow:hidden; /*word-break:break-all;*/}

.tal{ text-align:left} .tar{ text-align:right;}

/*文字两侧对齐*/
.justify {
	text-align:justify;
	text-justify:distribute-all-lines;/*ie6-8*/
	text-align-last:justify;/* ie9*/
	-moz-text-align-last:justify;/*ff*/
	-webkit-text-align-last:justify;/*chrome 20+*/
}

.toe{
	/*超出省略号*/
	 word-break:keep-all;
white-space:nowrap;
overflow:hidden;
text-overflow:ellipsis;
}
@media screen and (-webkit-min-device-pixel-ratio:0){/* chrome*/
	.justify:after{
		content:".";
		display: inline-block;
		width:100%;
		overflow:hidden;
		height:0;
	}
}

/* 兼容IE6的定位属性fixed，固定不动样式 */
.fixed{
	position:fixed; 
	clip:rect(0 100% 100% 0);
	_position:absolute;
	
	/* 底部 */
	bottom:0px;
	left:0px;
	_top:expression(document.documentElement.scrollTop+document.documentElement.clientHeight-this.clientHeight);
	/*_left:expression(document.documentElement.scrollLeft + document.documentElement.clientWidth - offsetWidth);*/
	
	/* 左侧 */
	/*left:0px;*/
	/*_top:expression(document.documentElement.scrollTop+document.documentElement.clientHeight-this.clientHeight);*/
	/*_left:expression(document.documentElement.scrollLeft + document.documentElement.clientWidth - offsetWidth);*/
}
/* 解决固定层在IE6下闪的问题 */
*html{
	background-image:url(about:blank);
	background-attachment:fixed;
}


/*png图片ie6下透明滤镜实现写法*/
.pngimg{filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale, src='images/x.png');}

/**
 +------------------------------------------------------------------------------
 * FCK 兼容解决方案
 +------------------------------------------------------------------------------
 * @subpackage  RBAC
 +------------------------------------------------------------------------------
 */
em{ font-style:italic !important;} strike{ text-decoration:line-through !important;} strong{ font-weight:bold !important;} u{ text-decoration:underline !important;}

/**
 +------------------------------------------------------------------------------
 * 表单样式
 +------------------------------------------------------------------------------
 * @subpackage  RBAC
 +------------------------------------------------------------------------------
 */

/**
 +------------------------------------------------------------------------------
 * 网站整体颜色总汇
 +------------------------------------------------------------------------------
 * @codex  颜色:使用颜色的名称或者16进制代码,如 
 * @subpackage  RBAC
 +------------------------------------------------------------------------------
 */
.ff8600,ff86aa a{ color:#ff8600;}

/**
 +------------------------------------------------------------------------------
 * 网站整字体大小
 +------------------------------------------------------------------------------
 * @codex   字体大小,直接使用"font+字体大小"作为名称,如
 * @package  ORG
 * @subpackage  RBAC
 +------------------------------------------------------------------------------
 */
.font14px{ font-size:14px;}
.font9pt{ font-size:9pt;}
/*自定义字体*/
/* @font-face {  font-family: danley;  src: url('../font/danley.ttf');  }  .danley {  font-family: danley; } */


/**
 +------------------------------------------------------------------------------
 * 网站整布局命名规范
 +------------------------------------------------------------------------------
 * @codex   id和class命名采用该版块的英文单词或组合命名 如:newRelease
 * @package  ORG
 * @subpackage  RBAC
 +------------------------------------------------------------------------------
 */
 body{font-family: "Microsoft YaHei",sans-serif;}
 
 .css3{
 	/*transition: all 0.3s ease-in-out 0s;*/
	
	-webkit-transform:translate3d(0, -20px, 0);
	-ms-transform:translate3d(0, -20px, 0);
	transform:translate3d(0, -20px, 0);
	
	-webkit-transition-property:opacity, -webkit-transform;
	transition-property:opacity, transform;
	-webkit-transition-duration:1000ms;
	transition-duration:1000ms;
	-webkit-transition-timing-function:cubic-bezier(0.25, 0.46, 0.33, 0.98);
	transition-timing-function:cubic-bezier(0.25, 0.46, 0.33, 0.98);
	
	-webkit-transition-delay:800ms;
	transition-delay:800ms
}
.css3.animated{
	-webkit-transform:translate3d(0, 0, 0);
	-ms-transform:translate3d(0, 0, 0);
	transform:translate3d(0, 0, 0);
}
 
@media screen and (max-width: 650px) {    
  
  }
  
  @media screen and (max-width: 480px) {   
	 
  }

.layout{
	background:#f0f0f0; width:640px; margin:0 auto; color:#646464; font-size:22px; line-height:32px;
}
.layout a{
	color:#646464;
}
.header{
	background:#fff; height:80px; position:relative; 
}
.header-fixed{
	position: fixed; width: 640px; left: 50%; margin-left: -320px; top: 0; z-index: 9;
}
.header .logo{
	left:10px; top:19px; position:absolute;
}
.header .nav{
	position:absolute; right:20px; top:20px;
}
.header .nav li{
	float:left; display:inline; font-size:22px;
}
.header .nav li .a1{
	height:40px; line-height:40px; padding:0 20px; float:left; display:inline; color: #646464;
}
.header .nav li a.selected{
	color: #46a1ee;
}
.header .nav li a.btn{
	background:#40bcee; color:#fff; border-radius:10px;
}

.page{
	overflow: hidden;
	height: 100%;
	background-size: cover !important;
	/*text-align: center;*/
}

.page1{
	background: #40bcee;
}

.page1 .text,
.page1 .img{
	margin-top:16em;
	float:left;
	display: inline;
}
.page1 .text{
	margin-left: 50px;
	font-size: 24px;
	color: #fff;
	line-height: 1;
	width: 310px;
	/*padding-top: 150px;*/
}
.page1 .text h4{
	margin-top: 20px;
}
.page1 .img{
	width: 200px;
}
.page1 .btn{
	margin-top: 50px;
}
.page1 .btn a{
	display: inline-block; font-size: 24px; border:#fff solid 2px; height: 45px; padding: 0 35px; color: #fff; line-height: 45px; border-radius: 10px;
}

.page2{
	background: url(../imgs/img1.jpg) center bottom #292929; text-align: center; color: #fff;
}

.page2 .text{
	margin-top: 11em;
}

.page2 h3{
	margin-top: 100px; font-size: 36px; line-height: 1;
}
.page2 h2{
	margin-top: 20px; font-size: 54px; line-height: 1;
}
.page2 h4{
	margin-top: 40px; 
}
.page2 .img{
	margin-top: 70px; 
	
	-webkit-transform:translate3d(0px, 40px, 0);
	-ms-transform:translate3d(0px, 40px, 0);
	transform:translate3d(0px, 40px, 0);
}
.active .page2 .img{
	-webkit-transform:translate3d(0px, 0, 0);
	-ms-transform:translate3d(0px, 0, 0);
	transform:translate3d(0px, 0, 0);
}
.page2 .btn a{
	display: inline-block; color: #fff; font-size: 24px; height: 55px; line-height: 55px; padding: 0 40px; background: #46a1ee; border-radius: 10px;
}

.page3{
	background: url(../imgs/img2.jpg) no-repeat left top; background-size: cover; position: relative; text-align: center;
}
.page3 .text{
	margin-left: 125px; text-align: left; margin-top:12em;
}
.page3 .text-img{
	position: relative; left: -20px;
}
.page3 .text h4{
	margin-top: 20px; line-height: 1;
}
.page3 .text h3{
	margin-top: 20px; line-height: 1; font-size: 24px; color: #fff;
}
.page3 .img1{
	margin-top: 30px; padding-bottom:100px
}
.page3 .img2{
	position: absolute; bottom: 0; text-align: center; left: 150px;
	
	-webkit-transform:translate3d(0px, 20px, 0);
	-ms-transform:translate3d(0px, 20px, 0);
	transform:translate3d(0px, 20px, 0);
}
.active .page3 .img2{
	-webkit-transform:translate3d(0px, 0, 0);
	-ms-transform:translate3d(0px, 0, 0);
	transform:translate3d(0px, 0, 0);
}
.page3 .img2 img{
	display: block;
}

.page4{
	background: #4d87df;
}
.page4 .img{
	height: 350px; position: relative; margin-top: 16em;
}
.page4 .img1,
.page4 .img2{
	position: absolute; left: 0; right: 0; top: 0; height: 350px;
}
.page4 .img1{
	background: url(../imgs/img8.png) no-repeat center;	
}
.page4 .img2{
	background: url(../imgs/img9.png) no-repeat center;	
	
	
}
.active .page4 .img2{
	-webkit-transform: rotate(-360deg); 
    -moz-transform: rotate(-360deg);
    -o-transform: rotate(-360deg); 
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3); 
}
.page4 .text{
	margin-top: 40px; color: #fff; text-align: center;
}
.page4 .text h2{
	line-height: 1; font-size: 36px;
}
.page4 .text h4{
	line-height: 1; font-size: 20px; line-height: 30px; margin-top: 20px;
}

.page5{
	background: #ff8aa3; color: #fff; text-align: center;
}
.page5 .img{
	margin-top:6em;
	
	-webkit-transform:translate3d(0, 20px, 0);
	-ms-transform:translate3d(0, 20px, 0);
	transform:translate3d(0, 20px, 0);
}
.active .page5 .img{
	-webkit-transform:translate3d(0, 0, 0);
	-ms-transform:translate3d(0, 0, 0);
	transform:translate3d(0, 0, 0);
}
.page5 .text h2{
	font-size: 54px; line-height: 1;
}
.page5 .text h4{
	margin-top: 20px; font-size: 24px; line-height: 34px;
}

.page6{
	background: #66cc99; color: #fff; text-align: center;
}
.page6 .img1{
	margin-top: 8em;
	
	-webkit-transform:translate3d(0, 20px, 0);
	-ms-transform:translate3d(0, 20px, 0);
	transform:translate3d(0, 20px, 0);
}
.active .page6 .img1{
	-webkit-transform:translate3d(0, 0, 0);
	-ms-transform:translate3d(0, 0, 0);
	transform:translate3d(0, 0, 0);
}
.page6 .text{
	margin-top: 20px; font-size: 54px; line-height: 1;
}
.page6 .img2{
	margin-top: 40px;
	
	-webkit-transform:translate3d(0, 20px, 0);
	-ms-transform:translate3d(0, 20px, 0);
	transform:translate3d(0, 20px, 0);
}
.active .page6 .img2{
	-webkit-transform:translate3d(0, 0, 0);
	-ms-transform:translate3d(0, 0, 0);
	transform:translate3d(0, 0, 0);
}
.page7{
	background: url(../imgs/img3.jpg) no-repeat center top;
}
.page7 .text{
	margin-top: 14em; text-align: center; font-size: 24px;
}
.page7 .img{
	margin-top: 50px; margin-left: 80px;
}
.page7 .img a{
	float: left; display: inline; margin-right: 70px;
}
.page7 .img-ios{
	-webkit-transform:translate3d(-20px, 0, 0);
	-ms-transform:translate3d(-20px, 0, 0);
	transform:translate3d(-20px, 0, 0);
}
.active .page7 .img-ios{
	-webkit-transform:translate3d(0, 0, 0);
	-ms-transform:translate3d(0, 0, 0);
	transform:translate3d(0, 0, 0);
}
.page7 .img-android{
	-webkit-transform:translate3d(20px, 0, 0);
	-ms-transform:translate3d(20px, 0, 0);
	transform:translate3d(20px, 0, 0);
}
.active .page7 .img-android{
	-webkit-transform:translate3d(0, 0, 0);
	-ms-transform:translate3d(0, 0, 0);
	transform:translate3d(0, 0, 0);
}

.page8{
	background: #f3f3f3; padding-left: 110px;
}
.page8 .img{
	margin-top: 100px;
}
.page8  .text{
	margin-top: 40px;
}
.page8  .text h2{
	font-size: 54px; line-height: 1; color: #585858;
}
.page8  .text h4{
	margin-top: 35px; font-size: 26px; line-height: 46px;
}
.page8 .contact{
	margin-top: 80px;
}
.page8 .contact h2{
	font-size: 30px; color: #585858;
}
.page8 .contact h4{
	font-size: 18px;
}
.page8 .contact .tel{
	font-size: 30px; color: #67bdff; line-height: 1.5;
}

/**************************************/
@-webkit-keyframes bounce-down {

    25% {
        -webkit-transform: translateY(-10px);
    }

    50%, 100% {
        -webkit-transform: translateY(0);
    }

    75% {
        -webkit-transform: translateY(10px);
    }
}

@keyframes bounce-down {

    25% {
        transform: translateY(-10px);
    }
    50%, 100% {
        transform: translateY(0);
    }
    75% {
        transform: translateY(10px);
    }

}

.animate-bounce-down{
    -webkit-animation: bounce-down 1.5s linear infinite;
    animation: bounce-down 1.5s linear infinite;

}
@-webkit-keyframes bounce-up {

    25% {
        -webkit-transform: translateY(10px);
    }

    50%, 100% {
        -webkit-transform: translateY(0);
    }

    75% {
        -webkit-transform: translateY(-10px);
    }
}


@keyframes bounce-up {

    25% {
        transform: translateY(10px);
    }

    50%, 100% {
        transform: translateY(0);
    }

    75% {
        transform: translateY(-10px);
    }

}

.animate-bounce-up{

    -webkit-animation: bounce-up 0.7s linear infinite;
    animation: bounce-up 0.7s linear infinite;
}
.animatable {
	-webkit-transition-property:opacity, -webkit-transform;
	transition-property:opacity, transform;
	-webkit-transition-duration:3000ms;
	transition-duration:3000ms;
	-webkit-transition-timing-function:cubic-bezier(0.25, 0.46, 0.33, 0.98);
	transition-timing-function:cubic-bezier(0.25, 0.46, 0.33, 0.98);
	
	-webkit-transition-delay:0;
	transition-delay:0;
}

/*2015.11.13 二代产品*/

@keyframes mymove30px
{
	0%   {opacity:0; left:-30px; top:0px;}

	100% {opacity:1; left:0px; top:0px;}
}

@-moz-keyframes mymove30px /* Firefox */
{
	0%   {opacity:0; left:-30px; top:0px;}

	100% {opacity:1; left:0px; top:0px;}
}

@-webkit-keyframes mymove30px /* Safari and Chrome */
{
	0%   {opacity:0; left:-30px; top:0px;}

	100% {opacity:1; left:0px; top:0px;}
}

@-o-keyframes mymove30px /* Opera */
{
	0%   {opacity:0; left:-30px; top:0px;}

	100% {opacity:1; left:0px; top:0px;}
}

.producthide{
	display: none;
}
.productshow{
	display: block;
}

.page1 .arrow,.pageb1 .arrow{
	-webkit-animation: bounce-up 1.4s linear infinite;
	animation: bounce-up 1.4s linear infinite;
}

.page1animation{
	animation:mymove30px 2s linear 0s infinite alternate;
	/* Firefox: */
	-moz-animation:mymove30px 2s linear 0s infinite alternate;
	/* Safari and Chrome: */
	-webkit-animation:mymove30px 2s linear 0s infinite alternate;
	/* Opera: */
	-o-animation:mymove30px 2s linear 0s infinite alternate;
}

.page1animation2{
	animation:mymove30px 2s linear 0s alternate;
	/* Firefox: */
	-moz-animation:mymove30px 2s linear 0s  alternate;
	/* Safari and Chrome: */
	-webkit-animation:mymove30px 2s linear 0s  alternate;
	/* Opera: */
	-o-animation:mymove30px 2s linear 0s  alternate;
}


.pageb1 .b1text1{
	opacity:0;
	-webkit-transform:translate3d(0, 30px, 0);
	-ms-transform:translate3d(0, 30px, 0);
	transform:translate3d(0, 30px, 0);
}

.pageb1.active .b1text1{
	opacity:1;
	-webkit-transform:translate3d(0, 0, 0);
	-ms-transform:translate3d(0, 0, 0);
	transform:translate3d(0, 0, 0);
}

.pageb1{
	background:url(../imgs/imgb1.png) no-repeat center  bottom #ebebeb;

	background-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-ms-background-size:cover;
}
.pageb2{
	background:url(../imgs/imgb2.png) no-repeat center  bottom #ebebeb;
	text-align:center;
	background-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-ms-background-size:cover;
}
.pageb3{
	background:url(../imgs/imgb3.png) no-repeat center  bottom #ebebeb;
	text-align:center;
	background-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-ms-background-size:cover;
}
.pageb4{
	background:url(../imgs/imgb4.png) no-repeat center  bottom #ebebeb;
	text-align:center;
	background-size:cover;
	-webkit-background-size:
	cover;-moz-background-size:
	cover;-ms-background-size:cover;
}
.pageb5{
	background:url(../imgs/imgb5.png) no-repeat center bottom  #ebebeb;
	text-align:center;
	background-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-ms-background-size:cover;
}
.pageb6{
	background:url(../imgs/imgb6.png) no-repeat center bottom  #ebebeb;
	text-align:center;
	background-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-ms-background-size:cover;
}
.pageb7{
	background:url(../imgs/imgb7.png) no-repeat center bottom  #ebebeb;
	text-align:center; background-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-ms-background-size:cover;
}

.b1leftpart,.b2leftpart{
	margin-top: 14em;
	margin-left: 3em;
}
.b1text{
	/*text-align: left;*/
	/*position: absolute;*/
}
.b1text2{
	margin-top: 1em;
}

.b1img{
	margin-top: 10em;
	margin-left: 1em;
	width: 25.3em;
	height: 10.4em;
}

.b2text2{
	width: 18.4em;
	height: 4.5em;
}

.b2text1{
	width: 19.7em;
	height: 2.8em;
}
.textimg{
	margin-top: 1em;
	margin-left: -2em;
}

.imgslist{
	margin-top: 3em;
	margin-left: -2em;
}
.imgstandard{
	margin-top: 3em;
}

.pageb2 .b2text1{
	opacity:0;
	-webkit-transform:translate3d(0, 30px, 0);
	-ms-transform:translate3d(0, 30px, 0);
	transform:translate3d(0, 30px, 0);
}


.active .pageb2 .b2text1{
	opacity:1;
	-webkit-transform:translate3d(0, 0, 0);
	-ms-transform:translate3d(0, 0, 0);
	transform:translate3d(0, 0, 0);
}

.pageb2 .b2text2{
	opacity:0;
	-webkit-transform:translate3d(0, 20px, 0);
	-ms-transform:translate3d(0, 20px, 0);
	transform:translate3d(0, 20px, 0);
}
.active .pageb2 .b2text2{
	opacity:1;
	-webkit-transform:translate3d(0, 0, 0);
	-ms-transform:translate3d(0, 0, 0);
	transform:translate3d(0, 0, 0);
}
.pageb2 .b2img1{
	opacity:0;
	-webkit-transform:translate3d(0, 60px, 0);
	-ms-transform:translate3d(0, 60px, 0);
	transform:translate3d(0, 60px, 0);
}
.active .pageb2 .b2img1{
	opacity:1;
	-webkit-transform:translate3d(0, 0, 0);
	-ms-transform:translate3d(0, 0, 0);
	transform:translate3d(0, 0, 0);
}


.pageb2 .b2img2{
	opacity:0;
	-webkit-transform:translate3d(0, 90px, 0);
	-ms-transform:translate3d(0, 90px, 0);
	transform:translate3d(0, 90px, 0);
}
.active .pageb2 .b2img2{
	opacity:1;
	-webkit-transform:translate3d(0, 0, 0);
	-ms-transform:translate3d(0, 0, 0);
	transform:translate3d(0, 0, 0);
}

.pageb2 .b2img3{
	opacity:0;
	-webkit-transform:translate3d(0, 120px, 0);
	-ms-transform:translate3d(0, 120px, 0);
	transform:translate3d(0, 120px, 0);
}
.active .pageb2 .b2img3{
	opacity:1;
	-webkit-transform:translate3d(0, 0, 0);
	-ms-transform:translate3d(0, 0, 0);
	transform:translate3d(0, 0, 0);
}

.b2rightpart{
	top:15em;
	left:-3em;
}

.pageb3 .detaillist{
	background: url(../imgs/b3textbg.png) no-repeat;background-size: contain;
	margin-top: 7em;
	margin-left:2.5em;
	width: 40.5em;
	height:33.66em;

}
.pageb3 .maintext{
	margin-left:-24em;
	margin-top: 12em;
}

.maint2{
	margin-top: 1em;
	width: 16.7em;
	height: 4em;
}
.maint1{
	width: 16.9em;
	height: 2.8em;
}
.local_e{
	position: absolute;
	left:4em;
	top:25em;
	width: 11.8em;
	height: 2em;
}
.surrounding_e{
	position: absolute;
	left:4em;
	top:44em;
	width: 11.8em;
	height: 2em;
}
.dul{
	position:absolute;
	margin-top: 4em;
	margin-left: 4.5em;
}
.dlist2{
	margin-top:12em;
}

/*.dlist1{*/
	/*margin-top: 1em;*/
/*}*/


.line1{
	width: 7.13em;
	height: 5em;
	margin-top: .8em;
}

.line2{
	width: 7.67em;
	height: 5.67em;
	margin-left: 5em;
	margin-top:1.5em;
	position: absolute;
}
.line3{

	width: 4.62em;
	height: 7em;
	margin-left: 18.5em;
	margin-top: -.2em;
}

.pageb3 .maint1{
	opacity:0;
	-webkit-transform:translate3d(0, 30px, 0);
	-ms-transform:translate3d(0, 30px, 0);
	transform:translate3d(0, 30px, 0);
}


.active .pageb3 .maint1{
	opacity:1;
	-webkit-transform:translate3d(0, 0, 0);
	-ms-transform:translate3d(0, 0, 0);
	transform:translate3d(0, 0, 0);
}

.pageb3 .maint2{
	opacity:0;
	-webkit-transform:translate3d(0, 60px, 0);
	-ms-transform:translate3d(0, 60px, 0);
	transform:translate3d(0, 60px, 0);
}
.active .pageb3 .maint2{
	opacity:1;
	-webkit-transform:translate3d(0, 0, 0);
	-ms-transform:translate3d(0, 0, 0);
	transform:translate3d(0, 0, 0);
}

.pageb3 .local_e{
	opacity:0;
	-webkit-transform:translate3d(0, 30px, 0);
	-ms-transform:translate3d(0, 30px, 0);
	transform:translate3d(0, 30px, 0);
}


.active .pageb3 .local_e{
	opacity:1;
	-webkit-transform:translate3d(0, 0, 0);
	-ms-transform:translate3d(0, 0, 0);
	transform:translate3d(0, 0, 0);
}

.pageb3 .dlist1{
	opacity:0;
	-webkit-transform:translate3d(0, 60px, 0);
	-ms-transform:translate3d(0, 60px, 0);
	transform:translate3d(0, 60px, 0);
}


.active .pageb3 .dlist1{
	opacity:1;
	-webkit-transform:translate3d(0, 0, 0);
	-ms-transform:translate3d(0, 0, 0);
	transform:translate3d(0, 0, 0);
}

.pageb3 .surrounding_e{
	opacity:0;
	-webkit-transform:translate3d(0, 30px, 0);
	-ms-transform:translate3d(0, 30px, 0);
	transform:translate3d(0, 30px, 0);
}


.active .pageb3 .surrounding_e{
	opacity:1;
	-webkit-transform:translate3d(0, 0, 0);
	-ms-transform:translate3d(0, 0, 0);
	transform:translate3d(0, 0, 0);
}

.pageb3 .dlist2{
	opacity:0;
	-webkit-transform:translate3d(0, 90px, 0);
	-ms-transform:translate3d(0, 90px, 0);
	transform:translate3d(0, 90px, 0);
}


.active .pageb3 .dlist2{
	opacity:1;
	-webkit-transform:translate3d(0, 0, 0);
	-ms-transform:translate3d(0, 0, 0);
	transform:translate3d(0, 0, 0);
}

.b4left{
	/*width: 55%;*/
	height: 100%;
}

.b4img1{
	width: 18.4em;
	height: 5.7em;
	margin-left: -14em;
	margin-top: 8em;
}
.b4lab{
	height: 27em;
}
.b4img2{
	width: 37.66em;
	height:60em ;
	margin-left: 0em;
	margin-top: -6em;
	left: 0;
	position: absolute;

}
.b4right{
	margin-top: 10em;
	margin-right: 4em;
	/*position: absolute;*/
}

.b4text1{
	width: 13.3em;
	height: 3.3em;
}
.b4text2{
	width: 25.4em;
	height: 2.5em;
	margin-top: 2em;
}
.b4text3{
	width: 16.5em;
	height: 5.5em;
	margin-top: 2em;
}

.pageb4 .b4img2{
	opacity:0;
	-webkit-transform:translate3d(-30px, 0, 0);
	-ms-transform:translate3d(-30px, 0, 0);
	transform:translate3d(-30px, 0, 0);
}


.active .pageb4 .b4img2{
	opacity:1;
	-webkit-transform:translate3d(0, 0, 0);
	-ms-transform:translate3d(0, 0, 0);
	transform:translate3d(0, 0, 0);
}

.pageb4 .b4img1{
	opacity:0;
	-webkit-transform:translate3d(0, 60px, 0);
	-ms-transform:translate3d(0, 60px, 0);
	transform:translate3d(0, 60px, 0);
}


.active .pageb4 .b4img1{
	opacity:1;
	-webkit-transform:translate3d(0, 0, 0);
	-ms-transform:translate3d(0, 0, 0);
	transform:translate3d(0, 0, 0);
}

.pageb4 .b4text1{
	opacity:0;
	-webkit-transform:translate3d(0, 30px, 0);
	-ms-transform:translate3d(0, 30px, 0);
	transform:translate3d(0, 30px, 0);
}


.active .pageb4 .b4text1{
	opacity:1;
	-webkit-transform:translate3d(0, 0, 0);
	-ms-transform:translate3d(0, 0, 0);
	transform:translate3d(0, 0, 0);
}
.pageb4 .b4text2{
	opacity:0;
	-webkit-transform:translate3d(0,60px, 0);
	-ms-transform:translate3d(0, 60px, 0);
	transform:translate3d(0, 60px, 0);
}


.active .pageb4 .b4text2{
	opacity:1;
	-webkit-transform:translate3d(0,0,0);
	-ms-transform:translate3d(0,0,0);
	transform:translate3d(0,0,0);
}
.pageb4 .b4text3{
	opacity:0;
	-webkit-transform:translate3d(0, 90px, 0);
	-ms-transform:translate3d(0,90px, 0);
	transform:translate3d(0, 90px, 0);
}


.active .pageb4 .b4text3{
	opacity:1;
	-webkit-transform:translate3d(0, 0, 0);
	-ms-transform:translate3d(0, 0, 0);
	transform:translate3d(0,0, 0);
}

.b5left{
	/*width: 600px;*/
	/*text-align: left;*/
}
.b5ltext{
	margin-top:8em;
	margin-left: 5em;
	text-align: left;
}
.b5right{
	height: 100%;
}
.b5list1{
	margin-left: 3em;
}
.b5list2{
	margin-left: 8em;
	margin-top:1em;
}
.b5list3{
	/*margin-left: 1em;*/
	/*margin-top: -3em;*/
}
.b5list4{
	margin-left: 5em;
	margin-top: 2em;
}
.b5img1{
	position: absolute;
	margin-left: -7.9em;
	margin-top: .8em;
}
.b5img2{
	position: absolute;
	margin-left: -9.3em;
	margin-top: .6em;
}

#b5img12{
	position: absolute;
	margin-left: .5em;
	margin-top: -7.8em;
}
#b5img22{
	position: absolute;
	margin-left: 0.3em;
	margin-top: -9.2em;
}

.b5lcircle{
	margin-top: 3em;
}
.b5img3{
	width: 34em;
	height: 51.9em;
	margin-top:9em;
	bottom: 0em;
}

/*.b4mobile{*/
	/*bottom: 0em;*/
/*}*/

.pageb5 .b5text1{
	opacity:0;
	-webkit-transform:translate3d(0, 30px, 0);
	-ms-transform:translate3d(0, 30px, 0);
	transform:translate3d(0, 30px, 0);
}

.active .pageb5 .b5text1{
	opacity:1;
	-webkit-transform:translate3d(0, 0, 0);
	-ms-transform:translate3d(0, 0, 0);
	transform:translate3d(0, 0, 0);
}
.pageb5 .b5text2{
	opacity:0;
	-webkit-transform:translate3d(0,60px, 0);
	-ms-transform:translate3d(0, 60px, 0);
	transform:translate3d(0, 60px, 0);
}

.active .pageb5 .b5text2{
	opacity:1;
	-webkit-transform:translate3d(0,0,0);
	-ms-transform:translate3d(0,0,0);
	transform:translate3d(0,0,0);
}
.pageb5 .b5text3{
	opacity:0;
	-webkit-transform:translate3d(0, 90px, 0);
	-ms-transform:translate3d(0,90px, 0);
	transform:translate3d(0, 90px, 0);
}

.active .pageb5 .b5text3{
	opacity:1;
	-webkit-transform:translate3d(0, 0, 0);
	-ms-transform:translate3d(0, 0, 0);
	transform:translate3d(0,0, 0);
}

.pageb5 .b5text4{
	opacity:0;
	-webkit-transform:translate3d(0, 30px, 0);
	-ms-transform:translate3d(0, 30px, 0);
	transform:translate3d(0, 30px, 0);
}

.active .pageb5 .b5text4{
	opacity:1;
	-webkit-transform:translate3d(0, 0, 0);
	-ms-transform:translate3d(0, 0, 0);
	transform:translate3d(0, 0, 0);
}
.pageb5 .b5text5{
	opacity:0;
	-webkit-transform:translate3d(0,60px, 0);
	-ms-transform:translate3d(0, 60px, 0);
	transform:translate3d(0, 60px, 0);
}

.active .pageb5 .b5text5{
	opacity:1;
	-webkit-transform:translate3d(0,0,0);
	-ms-transform:translate3d(0,0,0);
	transform:translate3d(0,0,0);
}
.pageb5 .b5text6{
	opacity:0;
	-webkit-transform:translate3d(0, 90px, 0);
	-ms-transform:translate3d(0,90px, 0);
	transform:translate3d(0, 90px, 0);
}

.active .pageb5 .b5text6{
	opacity:1;
	-webkit-transform:translate3d(0, 0, 0);
	-ms-transform:translate3d(0, 0, 0);
	transform:translate3d(0,0, 0);
}

.pageb5 .b5text7{
	opacity:0;
	-webkit-transform:translate3d(0, 120px, 0);
	-ms-transform:translate3d(0,120px, 0);
	transform:translate3d(0, 120px, 0);
}

.active .pageb5 .b5text7{
	opacity:1;
	-webkit-transform:translate3d(0, 0, 0);
	-ms-transform:translate3d(0, 0, 0);
	transform:translate3d(0,0, 0);
}

.active .pageb5 .b5img1{
	-webkit-transform: rotate(-360deg);
	-moz-transform: rotate(-360deg);
	-o-transform: rotate(-360deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.active .pageb5 .b5img2{
	-webkit-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	-o-transform: rotate(360deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.pageb5 .b5img3{
	opacity:0;
	-webkit-transform:translate3d(60px, 0, 0);
	-ms-transform:translate3d(60px, 0, 0);
	transform:translate3d(60px, 0, 0);
}

.active .pageb5 .b5img3{
	opacity:1;
	-webkit-transform:translate3d(0, 0, 0);
	-ms-transform:translate3d(0, 0, 0);
	transform:translate3d(0, 0, 0);
}

.b6img1{
	margin-top: 15em;
}
.b6text1{
	margin-top: 5em;
}
.b6flist{
	margin-top: 5em;
	margin-left: -1.5em;
}

.b6img2{
	margin-left: 1.5em;
}

.pageb6 .b6img1{
	opacity:0;
	-webkit-transform:translate3d(0, 30px, 0);
	-ms-transform:translate3d(0, 30px, 0);
	transform:translate3d(0, 30px, 0);
}

.active .pageb6 .b6img1{
	opacity:1;
	-webkit-transform:translate3d(0, 0, 0);
	-ms-transform:translate3d(0, 0, 0);
	transform:translate3d(0, 0, 0);
}
.pageb6 .b6text1{
	opacity:0;
	-webkit-transform:translate3d(0,60px, 0);
	-ms-transform:translate3d(0, 60px, 0);
	transform:translate3d(0, 60px, 0);
}

.active .pageb6 .b6text1{
	opacity:1;
	-webkit-transform:translate3d(0,0,0);
	-ms-transform:translate3d(0,0,0);
	transform:translate3d(0,0,0);
}

.pageb6 .b6i2{
	opacity:0;
	-webkit-transform:translate3d(120px, 0, 0);
	-ms-transform:translate3d(120px, 0, 0);
	transform:translate3d(120px, 0, 0);
}

.active .pageb6 .b6i2{
	opacity:1;
	-webkit-transform:translate3d(0, 0, 0);
	-ms-transform:translate3d(0, 0, 0);
	transform:translate3d(0, 0, 0);
}

.pageb6 .b6i3{
	opacity:0;
	-webkit-transform:translate3d(60px, 0, 0);
	-ms-transform:translate3d(60px, 0, 0);
	transform:translate3d(60px, 0, 0);
}

.active .pageb6 .b6i3{
	opacity:1;
	-webkit-transform:translate3d(0, 0, 0);
	-ms-transform:translate3d(0, 0, 0);
	transform:translate3d(0, 0, 0);
}

.pageb6 .b6i4{
	opacity:0;
	-webkit-transform:translate3d(-60px, 0, 0);
	-ms-transform:translate3d(-60px, 0, 0);
	transform:translate3d(-60px, 0, 0);
}

.active .pageb6 .b6i4{
	opacity:1;
	-webkit-transform:translate3d(0, 0, 0);
	-ms-transform:translate3d(0, 0, 0);
	transform:translate3d(0, 0, 0);
}

.pageb6 .b6i5{
	opacity:0;
	-webkit-transform:translate3d(-120px, 0, 0);
	-ms-transform:translate3d(-120px, 0, 0);
	transform:translate3d(-120px, 0, 0);
}

.active .pageb6 .b6i5{
	opacity:1;
	-webkit-transform:translate3d(0, 0, 0);
	-ms-transform:translate3d(0, 0, 0);
	transform:translate3d(0, 0, 0);
}

.b7text{
	width: 100%;
	height: 55em;
	margin-top: 12em;
}

.pageb7 .b7text1{
	opacity:0;
	-webkit-transform:translate3d(0,30px, 0);
	-moz-transform:translate3d(0,30px, 0);
	-ms-transform:translate3d(0, 30px, 0);
	transform:translate3d(0, 30px, 0);
}


.active .pageb7 .b7text1{
	opacity:1;
	-webkit-transform:translate3d(0,0,0);
	-ms-transform:translate3d(0,0,0);
	transform:translate3d(0,0,0);
}

.pageb7 .b7text2{
	opacity:0;
	-webkit-transform:translate3d(0,60px, 0);
	-ms-transform:translate3d(0, 60px, 0);
	transform:translate3d(0, 60px, 0);
}


.active .pageb7 .b7text2{
	opacity:1;
	-webkit-transform:translate3d(0,0,0);
	-ms-transform:translate3d(0,0,0);
	transform:translate3d(0,0,0);
}

.active .pageb7 .b7img3{
	-webkit-transform:translate3d(0, 0, 0);
	-ms-transform:translate3d(0, 0, 0);
	transform:translate3d(0, 0, 0);

}

.active .pageb7 .b7img2{
	-webkit-transform:translate3d(0, 0, 0);
	-ms-transform:translate3d(0, 0, 0);
	transform:translate3d(0, 0, 0);
}

.pageb7 .b7img2{
	opacity:1;
	-webkit-transform:translate3d(60px, 0, 0);
	-ms-transform:translate3d(60px, 0, 0);
	transform:translate3d(60px, 0, 0);
}

.pageb7 .b7img3{
	opacity:1;
	-webkit-transform:translate3d(-60px, 0, 0);
	-ms-transform:translate3d(-60px, 0, 0);
	transform:translate3d(-60px, 0, 0);
}