/*@charset "gb2312";*/
/**
 * 网站地址: http://www.qietu.com
 * ----------------------------------------------------------------------------
 * $codex 1. id和class命名采用该版块的英文单词或组合命名，并第一个单词小写，第二个单词首个字母大写，如:thinkCss（最新产品/think+Css)
 * $codex 2. CSS样式表各区块用注释说明
 * $codex 3. 尽量使用英文命名原则
 * $codex 4. 尽量不加中杠和下划线
 * $codex 5. 尽量不缩写，除非一看就明白的单词
 * $Author: psd2html
 * $mailto: <psd2html@qq.com>
 * $hack :ie 6 _  \ ie7 *+ \  ie6,ie7 *  \  ie7,firefox !important ie9, \9
*/
/**
 +------------------------------------------------------------------------------
 * 网站样式重写
 +------------------------------------------------------------------------------
 * @comefrom  互联网
 * @subpackage  RBAC
 +------------------------------------------------------------------------------
 */
html{-webkit-text-size-adjust:none; /*解决chrome浏览器下字体不能小于12px*/}
body{font-family:"Microsoft YaHei",Arial, Helvetica, sans-serif;}
* {}
a{outline:none; text-decoration:none;} a:hover{ text-decoration:underline;}
html{zoom:1;}html *{outline:0;zoom:1;} html button::-moz-focus-inner{border-color:transparent!important;}
body{overflow-x: hidden;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;} table{/*border-collapse:collapse;border-spacing:0;*/} fieldset,a img{border:0;} address,caption,cite,code,dfn,em,th,var{font-style:normal;font-weight:normal;} li{list-style:none;} caption,th{text-align:left;} h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;} q:before,q:after{content:'';}
input[type="submit"], input[type="reset"], input[type="button"], button { -webkit-appearance: none; /*???????????I????????*/} em,i{ font-style:normal;}




/**
 +------------------------------------------------------------------------------
 * Public Class
 +------------------------------------------------------------------------------
 * @subpackage  RBAC
 +------------------------------------------------------------------------------
 */
.clearfix:after {content:"."; display:block; height:0; clear:both; visibility:hidden; }.clearfix {display:block;}.clear{ clear:both;}/* ??????*/
.colwrapper { overflow:hidden; zoom:1 /*for ie*/; margin:5px auto; }/* ???????? */
.strong{ font-weight: bold;} .left{ float: left;} .right{ float: right;} .center{ margin:0 auto; text-align:center;}
.show{ display:block; visibility:visible;}.hide{ display: none; visibility:hidden;}
.block{ display:block;} .inline{ display:inline;}
.transparent{filter:alpha(opacity=50); -moz-opacity:0.5;/** Firefox 3.5?????????opacity??????????????????irefox3????????? ***/ -khtml-opacity: 0.5; opacity: 0.5; } .break{ word-wrap:break-word;overflow:hidden; /*word-break:break-all;*/}

.tal{ text-align:left} .tar{ text-align:right;}

/*文字两侧对齐*/
.justify {
	text-align:justify;
	/*text-justify:distribute-all-lines;/!*ie6-8*!/*/
	text-align-last:justify;/* ie9*/
	-moz-text-align-last:justify;/*ff*/
	-webkit-text-align-last:justify;/*chrome 20+*/
}

.toe{
	/*超出省略号*/
	word-break:keep-all;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}
@media screen and (-webkit-min-device-pixel-ratio:0){/* chrome*/
	.justify:after{
		content:".";
		display: inline-block;
		width:100%;
		overflow:hidden;
		height:0;
	}
}

/* 兼容IE6的定位属性fixed，固定不动样式 */
.fixed{
	position:fixed;
	/*clip:rect(0 100% 100% 0);*/
	_position:absolute;

	/* 底部 */
	bottom:0px;
	left:0px;
	_top:expression(document.documentElement.scrollTop+document.documentElement.clientHeight-this.clientHeight);
	/*_left:expression(document.documentElement.scrollLeft + document.documentElement.clientWidth - offsetWidth);*/

	/* 左侧 */
	/*left:0px;*/
	/*_top:expression(document.documentElement.scrollTop+document.documentElement.clientHeight-this.clientHeight);*/
	/*_left:expression(document.documentElement.scrollLeft + document.documentElement.clientWidth - offsetWidth);*/
}
/* 解决固定层在IE6下闪的问题 */
*html{
	background-image:url(http://about:blank);
	background-attachment:fixed;
}


/*png图片ie6下透明滤镜实现写法*/
.pngimg{filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='images/x.png');}
/*enabled=true, sizingMethod=scale,*/

/**
 +------------------------------------------------------------------------------
 * FCK 兼容解决方案
 +------------------------------------------------------------------------------
 * @subpackage  RBAC
 +------------------------------------------------------------------------------
 */
em{ font-style:italic !important;} strike{ text-decoration:line-through !important;} strong{ font-weight:bold !important;} u{ text-decoration:underline !important;}

/**
 +------------------------------------------------------------------------------
 * 表单样式
 +------------------------------------------------------------------------------
 * @subpackage  RBAC
 +------------------------------------------------------------------------------
 */

/**
 +------------------------------------------------------------------------------
 * 网站整体颜色总汇
 +------------------------------------------------------------------------------
 * @codex  颜色:使用颜色的名称或者16进制代码,如 
 * @subpackage  RBAC
 +------------------------------------------------------------------------------
 */
.ff8600,.ff86aa a{ color:#ff8600;}

/**
 +------------------------------------------------------------------------------
 * 网站整字体大小
 +------------------------------------------------------------------------------
 * @codex   字体大小,直接使用"font+字体大小"作为名称,如
 * @package  ORG
 * @subpackage  RBAC
 +------------------------------------------------------------------------------
 */
.font14px{ font-size:14px;}
.font9pt{ font-size:9pt;}
/*自定义字体*/
/* @font-face {  font-family: danley;  src: url('../font/danley.ttf');  }  .danley {  font-family: danley; } */


/**
 +------------------------------------------------------------------------------
 * 网站整布局命名规范
 +------------------------------------------------------------------------------
 * @codex   id和class命名采用该版块的英文单词或组合命名 如:newRelease
 * @package  ORG
 * @subpackage  RBAC
 +------------------------------------------------------------------------------
 */
  a{ color:#5d5d5e; transition: all 0.3s ease-in-out 0s;}
  a:hover{ color:#3e6ed4;}

.css3{
	/*transition: all 0.3s ease-in-out 0s;*/

	-webkit-transform:translate3d(0, -20px, 0);
	-ms-transform:translate3d(0, -20px, 0);
	transform:translate3d(0, -20px, 0);

	-webkit-transition-property:opacity, -webkit-transform;
	transition-property:opacity, transform;
	-webkit-transition-duration:1000ms;
	transition-duration:1000ms;
	-webkit-transition-timing-function:cubic-bezier(0.25, 0.46, 0.33, 0.98);
	transition-timing-function:cubic-bezier(0.25, 0.46, 0.33, 0.98);

	-webkit-transition-delay:800ms;
	transition-delay:800ms
}
.css3.animated{
	-webkit-transform:translate3d(0, 0, 0);
	-ms-transform:translate3d(0, 0, 0);
	transform:translate3d(0, 0, 0);
}

@media screen and (max-width: 650px) {
}

@media screen and (max-width: 480px) {
}

.rotate
{
	transform:rotate(7deg);
	-ms-transform:rotate(7deg); 	/* IE 9 */
	-moz-transform:rotate(7deg); 	/* Firefox */
	-webkit-transform:rotate(7deg); /* Safari ?? Chrome */
	-o-transform:rotate(7deg); 	/* Opera */
}

body{
	-webkit-text-size-adjust:none;
	background-color: #efe9cc;
	position: relative;
}

.layout{
	margin-top: auto;
	overflow-x: hidden;
	text-align: center;
	position: relative;

}
.ageList,.areaList,.skinList,.sexList{
	position: absolute;
	text-align: center;
	width: 100%;
	z-index: 9999;
	display: none;
}
.ageList{
	top: 379px;
}
.areaList{
	top: 254px;
}
.skinList{
	top:127px;
}
.sexList{
	top: 505px;
}
.confirm{
	background-color: #ebe7cb;
	height: 82px;
	line-height: 82px;
	vertical-align: middle;
	color: #739042;
}
.confirm button{
	border: none;
	background-color: #ebe7cb;
	font-size: 2em;
	font-weight: bold;
	position: relative;
	right: 1em;
	height: 78px;
}
.detailList{
	background-color: #ebe7cb;
	width: 536px;
	height:480px;
	 color: #477626;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	border-radius: .5em;
	border: #477626 dashed;
 }
.sexdetailList{
	background-color: #ebe7cb;
	height: 160px;
	color: #477626;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	width: 536px;
	border-radius: .5em;
	border: #477626 dashed;
}
.detailList li,.sexdetailList li{
	line-height: 80px;
	height: 80px;
	vertical-align: middle;
	font-size: 2em;
}
.detailList li:hover,.sexdetailList li:hover{
	background-color: #d5e1a9;
}
.markA,.markB,.markC{
	background-color: #d5e1a9;
}
.myMask,.xyMask{
	z-index: 100;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	width: 750px;
	margin-left: -375px;
	left: 50%;
	display: none;
}
.myMask{
	background: rgba(0,0,0,.8);
}
.xyMask{
	background: rgba(238,233,203,.8);
}

/*060114相宜本草确认样式*/
/*个人信息页*/
.inputBody{
	text-align: center;
	position: relative;
	top: 270px;
}
.sjyz-form{
	width: 536px;
	margin-left: auto;
	margin-right: auto;
	z-index: 1;
	overflow: hidden;
}
.myInfoP{
	background: url("../imgs/bg-desk.png") no-repeat;
	/*background-size: 100% 100%;*/
	height: 1206px;
	width: 750px;
	margin-left: auto;
	margin-right: auto;
}
.toBottom{
	position: absolute;
	bottom: 0;
}
.pageName p,.pageTest p{
	 margin-left: auto;
	 margin-right: auto;
	 position: relative;
	 top: 228px;
 }
.pageName p{
	width: 264px;
	height: 45px;
	background: url("../imgs/text.png") no-repeat 0 -263px;
}

#skinS,#areaS,#ageS,#sexS{
	width: 536px;
	height: 76px;
}

#skinS{
	background: url("../imgs/bg-test.png") no-repeat 0 -750px;
}
#areaS{
	background: url("../imgs/bg-test.png") no-repeat 0 -826px;
}
#ageS{
	background: url("../imgs/bg-test.png") no-repeat 0 -902px;
}
#sexS{
	background: url("../imgs/bg-test.png") no-repeat 0 -978px;
}

.sjyz-form ul{
	overflow: hidden;
}
.sjyz-form li{
	height: 76px;
	margin-top: 50px;
}
.sjyz-form li .textIn{
	border: none;
	color: #484d44;
	float: left;
	font-size: 28px;
	padding-top: 43px;
}

.sjyz-form li .text{
	border: none;
	font-size: 30px;
	width: 320px;
	position: relative;
	left: 54px;
	top: 18px;
	color: #477626;
}

.sjyz-form .submit,.sjyz-form .othersubmit,.sjyz-form .editsubmit{
	background: url("../imgs/text.png") no-repeat 0 -347px;
	width : 188px;
	height: 63px;
	display: block;
	border: none;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	margin-top: 137px;
}

.sjyz-form input{
	background-color: #c9d2a0;
	position: relative;
	left: 4em;
	top: .5em;
}
.passThis p{
	background: url("../imgs/text.png") no-repeat 0 -457px;
	width: 142px;
	height: 40px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	top: 40px;
	display: none;
}
.connectTip{
	top: 30%;
	position: fixed;
	z-index: 101;
	width: 100%;
}
.checkBlue{
	background: url("../imgs/bluetoothinfo.png") no-repeat 0 0;
	width: 617px;
	height: 396px;
	margin-left: auto;
	margin-right: auto;
}
.tipText{
	background: url("../imgs/text4.png") no-repeat 0 -497px;
	width: 617px;
	height: 497px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	position: relative;
}
.closeTip{
	background: url("../imgs/bg-test.png") no-repeat 0 -1052px;
	width: 265px;
	height: 76px;
	margin-right: auto;
	margin-left: auto;
	position: relative;
	top: 380px;
}

/*测试页面*/
.pageTest p{
	width: 301px;
	height: 48px;
	background: url("../imgs/text.png") no-repeat 0 -80px;
}
.testAreaSelect{
	width: 561px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	position: relative;
	top: 300px;
}
.testTitle{
	background: url("../imgs/bg-testarea.png") no-repeat 0 0;
	width: 561px;
	height: 124px;
	position: relative;
	top: 45px;
	z-index: 1;
}
.titBgC{
	background-color: #bbcc94;
	width: 561px;
	height: 122px;
	border-radius: .5em;
	position: relative;
	top: -84px;
}
.testFourArea{
	background: url("../imgs/bg-test.png") no-repeat 0 -248px;
	width: 546px;
	height: 207px;
	margin-right: auto;
	margin-left: auto;
	position: relative;
	top: -74px;
}
.connectStatus{
	width: 100%;
	text-align: left;
	border-radius: 1px;
}
.connectStatus p{
	background: url("../imgs/bg-test.png") 0 -1128px;
	/*0 -1180px*/
	width: 237px;
	height: 52px;
	display: inline-block;
}
.connectStatus span{
	color: #477626;
	font-size: 1.8em;
	position: relative;
	top: -15px;left: 5px;
}
.testFourArea li{
	display: inline-block;
	width: 132px;
	height: 196px;
	margin-top: 1px;
	position: relative;
}
.areaU{
	background: url("../imgs/bg-testarea.png") no-repeat 0 -453px;
}
.areaT{
	background: url("../imgs/bg-testarea.png") no-repeat -133px -453px;
}
.areaE{
	background: url("../imgs/bg-testarea.png") no-repeat -268px -453px;
}
.areaH{
	background: url("../imgs/bg-testarea.png") no-repeat -402px -453px;
}
.selectedArea{
	background: url("../imgs/bg-test.png") no-repeat 0 -131px;
	height: 38px;
	width: 40px;
	position: absolute;
	bottom: 50px;
	right: 5px;
}
.btn-toOther{
	width: 350px;
	height: 75px;
	position: relative;
	top: -30px;
}
.btn-toOther p{
	background: url("../imgs/bg-test.png") 0 0;
	width: 350px;
	height: 75px;
}

.btn-modifyPerson{
	position: relative;
	top: 32px;
	text-align: center;
	width: 234px;
}
.btn-modifyPerson p{
	background: url("../imgs/text.png") no-repeat 0 -128px;
	width: 234px;
	height: 40px;
}
.btn-checkHistory{
	position: relative;
	top: 88px;
	width: 216px;
}
.btn-checkHistory p{
	background: url("../imgs/text.png") no-repeat 0 0;
	width: 216px;
	height: 42px;
}

/*结果页*/
.resultHeader{
	background: url("../imgs/bg-result.png") no-repeat 0 0;
	width: 100%;
	height: 297px;
	text-align: center;
	position: relative;
}
.resultBottom{
	background: url("../imgs/bg-result.png") no-repeat 0 -297px;
	width: 100%;
	height: 269px;
	position: absolute;
	top: -50px;
	z-index: -1;
}
.xyLogo{
	background: url("../imgs/text2.png") no-repeat -581px -81px;
	height: 95px;
	width: 95px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	top: 90px;
}
.resultTit{
	background: url("../imgs/text2.png") no-repeat 0 0;
	width: 173px;
	height: 48px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	top: 140px;
}
.testResult{
	text-align: center;
	width: 100%;
	margin-top: 10px;
}
.testResult li,.environment li{
	width: 33.3%;
	text-align: center;
	display: inline-block;
	float: left;
}
.testResult li div,.environment li div{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
.waterBg,.oilBg,.elasticBg{
	width: 138px;
	height: 138px;
	margin-top: -158px;
}
.waterBg{
	background: url("../imgs/text2.png") no-repeat 0 -48.5px;
}
.oilBg{
	background: url("../imgs/text2.png") no-repeat -138px -48.5px;
}
.elasticBg{
	background: url("../imgs/text2.png") no-repeat -276px -48.5px;
}
.percentIcon{
	background: url("../imgs/text2.png") no-repeat -173px 0;
	width: 14px;
	height: 28px;
}
.value{
	margin-top: 10px;
}
.value p{
	display: inline-block;
	color: #477626;
	font-size: 2em;
}
.temp,.wet,.UV{
	height: 36px;
	position: relative;
	top: 7px;
}
.temp{
	background: url("../imgs/text2.png") no-repeat 0 -186px;
	width: 97px;
}
.wet{
	background: url("../imgs/text2.png") no-repeat -97px -186px;
	width: 110px;
}
.UV{
	background: url("../imgs/text2.png") no-repeat -207px -186px;
	width: 148px;
}
.tempIcon{
	background: url("../imgs/text2.png") no-repeat -187px 0;
	width: 24px;
	height: 28px;
}
.userDefeat{
	width: 100%;
	text-align: center;
}
.uDC{
	margin-left: auto;
	margin-right: auto;
	/*background: url("../imgs/text2.png") no-repeat 0 -222px;*/
	background-color: #e1e5cb;
	border-radius: .2em;
	width: 700px;
	height: 100px;
	position: relative;
	top: 300px;
	text-align: center;
}
.uDC div{
	width: 96%;
	height: 76px;
	background-color: #e5ead8;
	border: #6c8f53 dashed 2px;
	border-radius: .2em;
	position: relative;
	top: 10px;
	text-align: center;
}
.uDC div p{
	background: url("../imgs/text2.png") no-repeat 0 -387px;
	width: 650px;
	height: 48px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 15px;
}
.defNum{
	/*z-index: 2;*/
	color: #477626;
	font-size: 2em;
	position: relative;
	top: 50px;
	left: 116px;
}
.resultPic{
	margin-top: 96px;
}
.picText p{
	background: url("../imgs/text2.png") no-repeat -211px 0;
	height: 28px;
	width: 176px;
	position: relative;
	top: 5px;
}
.picText{
	text-align: center;
	height: 38px;
	width: 90%;
	border-left: #fff solid 5px;
	border-right:  #fff solid 5px;
}
.picTit{
	width: 229px;
	background-color: #477626;
	text-align: center;
}
.picDetail div{
	display: inline-block;
}.picDetail{
	height: 300px;
}
.picLab{
	background: url("../imgs/text3.png") no-repeat 0 0;
	width: 83px;
	height: 170px;
}
.picDetail img{
	position: relative;
	top: 30px;

}
.divAdd{
	text-align: center;
	margin-top: 60px;
	border-radius: 10px;
	background-color: #dde1ca;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}
.divAdd div{
	margin-left: auto;
	margin-right: auto;
	/*margin-top: 15px;*/
}
.addTit,.addText{
	width: 95%;
	/*height: 56px;*/
	background-color: #e7ecd8;
	border-style: dashed ;
	border-color: #8aa472;
	text-align: center;
	border-radius: 5px;
	/*border: #8aa472 solid 1px;*/
}
.addText{
	margin-top: 5px;
	position: relative;
}
.addText p{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	top: 40px;
	margin-bottom: 80px;
	color: #457325;
	text-align: left;
	font-size: 1.5em;
}

.skinAdd,.foodAdd{
	padding-top: 10px;
	position: relative;
	padding-bottom: 10px;
}
.foodAdd .addTit p,.skinAdd .addTit p{
	width: 197px;
	min-height: 48px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 4px;
}
.skinAdd .addTit p{
	background: url("../imgs/text2.png") no-repeat 0 -288px;
}
.foodAdd .addTit p{
	background: url("../imgs/text2.png") no-repeat -197px -288px;
}
.inputTel{
	text-align: center;
	position: relative;
}

#Tel{
	background: url("../imgs/bg-result.png") no-repeat 0 -566px;
	width: 536px;
	height: 78px;
}
#Tel input{
	width: 320px;
	left: 93px;
	top: -31.5px;
	/*background-color: #4e772f;*/
}
#baNum{
	background: url("../imgs/bg-result.png") no-repeat 0 -722px;
	width: 426px;
	height: 78px;
	margin-top: 30px;
}
#baNum input{
	width: 200px;
	left: 96px;
	top: -32.5px;
	background-color: #4e772f;
	color: #FFF;
}
.resultSubmit,.historySubmit{
	background: url("../imgs/bg-result.png") no-repeat 0 -644px;
	width: 426px;
	height: 78px;
	border: none;
	margin-top: 50px;
}
#Tel p{
 	background: url("../imgs/text2.png") no-repeat 0 -336px;
	width: 142px;
	height: 50px;
	position: relative;
	top: 10px;
	left: 23px;
}
#baNum p{
	background: url("../imgs/text2.png") no-repeat -286px -336px;
	width: 158px;
	height: 50px;
	position: relative;
	top: 14px;
	left: 20px;
}
.resultSubmit p{
	background: url("../imgs/text2.png") no-repeat -142px -336px;
	width: 144px;
	height: 50px;
	position: relative;
	display: inline-block;
}

/*historypage*/

.historyTitText{
	position: absolute;
	bottom: 0;
	text-align: center;
	width: 100%;
}
.historyTit{
	background: url("../imgs/text2.png") no-repeat -387px 0;
	width: 174px;
	height: 48px;
	margin-left: auto;
	margin-right: auto;
}
.historySubmit p{
	background: url("../imgs/text2.png") no-repeat -417px -119px;
	width: 110px;
	height: 39px;
	position: relative;
	display: inline-block;
}
.historyData{
	margin-top: 50px;
}
.hisFrame{
	background: url("../imgs/text3.png") no-repeat 0 -218px;
	width: 619px;
	height: 668px;
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
.hisFrame ul{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	color: #767676;
	position: relative;
	top: 103px;
	left: 30px;
	font-size: 1.5em;
}
.hisFrame li{
	height: 53px;
	width: 100%;
}
.hisFrame li p{
	 display: inline;
	float: left;
 }

.dateD{
	width: 140px;
	text-align: center;
}
.waterD,.oilD,.elaD{
	width: 106px;
	text-align: center;
}
.scoreD{
	width: 100px;
}
.btn-reFlash{
	background: url("../imgs/text3.png") no-repeat -33px -170px;
	width: 36px;
	height: 28px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 125px;
}
.hisBottom{
	background: url("../imgs/bg-result.png") no-repeat 0 -297px;
	width: 100%;
	height: 269px;
	position: fixed;
	bottom: 0;
	z-index: -1;
}

/*wxpage*/
.wxTit p{
	background: url("../imgs/wxpic.png") no-repeat 0 0;
	width: 704px;
	height: 133px;
	position: relative;
	top: -50px;
}
.wxPic{
	margin-top: 50px;
}
.wxPic img{
	/*background: url("../imgs/wxpic.png") no-repeat 0 -133px;*/
	/*width: 395px;*/
	/*height: 408px;*/
}
.btn-again{
	margin-top: 100px;
}
.btn-again div{
	background: url("../imgs/bg-result.png") no-repeat 0 -644px;
	width: 426px;
	height: 78px;
}
.btn-again p{
	background: url("../imgs/wxpic.png")no-repeat -395px -133px;
	width: 184px;
	height: 48px;
	position: relative;
	top: 12px;
}
.question{
	position: absolute;
	bottom: 65%;
	right: 12%;
	z-index: 1;
}
.qBg{
	width: 60px;
	height: 60px;
	background-color: #4e772f;
	border-radius: 50%;
	text-align: center;
}
.qBg p{
	background: url("../imgs/bg-testarea.png") no-repeat 0 -140px;
	width: 17px;
	height: 33px;
	margin-right: auto;
	margin-left: auto;
	position: relative;
	top: 10px;
}
.introPic{
	width: 100%;
	position: fixed;
	top: 80px;
	left: 0;
	z-index: 104;
	text-align: center;
}
.iPic{
	background: url("../imgs/introduce.png") no-repeat;
	background-size: contain;
	width: 84%;
	height: 1334px;
	margin-left: auto;
	margin-right: auto;
}
.test-standard{
	position: relative;
	top: -45px;
}
.water-standard,.oil-standard{
	width: 160px;
	height: 36px;
	position: relative;
	display: inline-block;
}
.water-standard{
	background: url("../imgs/text2.png") no-repeat -432px -220px;
	margin-left: -5em;
}
.oil-standard{
	background: url("../imgs/text2.png") no-repeat -432px -256px;
	margin-left: 13em;
}
.test-standard span{
	position: relative;
	left: 122px;
	font-size: 1.5em;
	color:#4e772f;
}